.depoimento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-p1);
}

.depoimento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: initial;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: end;
}

.depoimento-conteudo p {
    font-family: "Merriweather", sans-serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 32px;
    max-width: 32ch;
}