.parceiros {
    padding-top: 60px;
    padding-bottom: 120px;
}

.parceiros h2 {
    margin-bottom: 60px;
}

.parceiros ul {
    max-width: 1400px;/*depois que crescer acima de 1400 ele vai começar centralizar*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:0 auto;
    padding: 0 20px;
}

.parceiros li {
    padding: 32px;
    display: flex;
    border-left: 2px solid var(--color-c02);
}

.parceiros li img {
    margin: auto;
}


.parceiros li:first-child,
.parceiros li:nth-child(5) {
    border-left: none;
}