.font-po-0ponto75rem {
    font: 400 0.75rem/ 1.35 "Poppins", sans-serif;
}

.font-ro-0ponto875rem {
    font: 400 0.875rem/ 1.43 "Roboto", sans-serif;
}

.font-po-1rem {
    font: 400 1rem/1.5 "Poppins", sans-serif;
}

.font-ro-1rem {
    font: 400 1rem/ 1.5 "Roboto", sans-serif;
}

.font-po-1ponto125rem, .font-bold {
    font: 400 1.125rem/ 1.35 "Poppins", sans-serif;
}

.font-bold {
    font-weight: 600;
}

.font-ro-1ponto125rem {
    font: 500 1.125rem/ 1.35 "Roboto", sans-serif;
}

.font-po-1ponto5rem {
    font: 400 1.5rem/ 1.5 "Poppins", sans-serif;
}

.font-ro-1ponto5rem, .font-L-bold-U {
    font: 400 1.5rem/ 1.5 "Roboto", sans-serif;
}

.font-L-bold-U {
    font-weight: 500;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

.font-po-2rem-bold {
    font: 600 2rem/1.25 "Poppins", sans-serif;
}

.font-ro-2rem {
    font: 500 2rem/1.25 "Roboto", sans-serif;
}

.font-po-4rem-bold {
    font: 600 4rem/1.125 "Poppins", sans-serif;
}

.point {
    color: #ffbb00;
}

@media (max-width: 1200px) {
    .font-po-4rem-bold {
        font-size: 3rem;
    }

    .font-ro-18px {
        font-size: 18px;
    }

}

@media (max-width: 800px) {
    .font-po-2rem-bold {
        font-size: 2rem;
    }
}